{% extends 'layout.html.twig' %}
 {% block bground %}
 {% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Forum creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('forum_index') }}">Back to the list</a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
